* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
}

.wrapper {
  width: 100%;
  overflow-x: hidden;
}

.skills__container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 0.1rem 0.1rem;
  grid-auto-flow: row;
  grid-template-areas:
    ". . . . ."
    ". . . . ."
    ". . . . .";
}

nav {
  display: flex;
  align-items: center;
  background-color: #5d4954;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.banner__container {
  height: 25rem;
}

.banner {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.nav__links {
  display: flex;
  justify-content: space-evenly;
  color: #e7e7e7;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  width: 100%;
}

.nav__links li {
  list-style: none;
  width: 100%;
  text-align: center;
}

.nav__link {
  color: #e7e7e7;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.5rem;
  width: 100%;
}

.menu {
  display: none;
}

.line1,
.line2,
.line3 {
  width: 2rem;
  height: 0.25rem;
  background-color: #e7e7e7;
  margin: 0.25rem;
  border-radius: 0.5rem;
  transition: all 0.5s ease;
}

@media screen and (max-width: 1280px) {
  .nav__links {
    width: 100%;
  }

  .nav__link {
    font-size: 1.0rem;
  }

  nav {
    width: 100%;
    padding: 1rem;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  .wrapper {
    width: 100%;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    height: 2rem;
    width: 100%;
    padding: 1.5rem;
  }

  .nav__links {
    background-color: #5d4954;
    position: absolute;
    right: 0px;
    top: 0px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-evenly;
  }

  .nav__link {
    color: #e7e7e7;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .nav__link li {
    opacity: 0;
  }

  .menu {
    display: block;
    cursor: pointer;
  }
}

.nav__links-active {
  transform: translateX(0);
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
