* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #5d4954;
}

.logo {
  color: #e7e7e7;
  text-transform: uppercase;
  font-size: 1.5rem;
  letter-spacing: 5px;
}

.nav__links {
  display: flex;
  width: 30%;
  justify-content: space-around;
  color: #e7e7e7;
}

.nav__links li {
  list-style: none;
}

.nav__link {
  color: #e7e7e7;
  text-decoration: none;
  font-weight: bold;
}

.menu {
  display: none;
}

.line1, .line2, .line3 {
  width: 2rem;
  height: 0.25rem;
  background-color: #e7e7e7;
  margin: 0.25rem;
  border-radius: 0.5rem;
  transition: all 0.5s ease;
}

@media screen and (max-width: 1280px) {
  .nav__links {
    width: 60%;
  }
}

@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }

  nav {
    justify-content: space-between;
    padding: 2rem;
  }

  .nav__links {
    background-color: #5d4954;
    position: absolute;
    right: 0px;
    height: 92vh;
    top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
  }

  .nav__link li {
    opacity: 0;
  }

  .menu {
    display: block;
    cursor: pointer;
  }
}

.nav__links-active {
  transform: translateX(0);
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}